.item {
    margin: 1rem 0;
  }

  .content {
    text-align: left;
    padding: 1rem;
    max-height: 10px;
  }
  

  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2f2f2f;
    text-align: right;
  }
  
  .subTitle {
    font-size: 1.3rem;
    font-weight: bold;
    color: #939193;
    text-align: right;
  }

  .owner {
    font-size: 1rem;
    font-weight: bold;
    color: #484848;
    text-align: right;
  }

  .date {
    font-size: 0.7rem;
    color: #939193;
    text-align: right;
  }

  .actions {
    padding: 1.5rem;
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #003B87;
    border: 1px solid #003B87;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #003B87;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
  }